[submodule "vendor/mathjs"]
	path = vendor/mathjs
	url = https://github.com/josdejong/mathjs.git
[submodule "vendor/dat-gui"]
	path = vendor/dat-gui
	url = https://code.google.com/p/dat-gui/
[submodule "vendor/stats"]
	path = vendor/stats
	url = https://github.com/mrdoob/stats.js.git
[submodule "vendor/ocanvas"]
	path = vendor/ocanvas
	url = https://github.com/koggdal/ocanvas.git
[submodule "vendor/jquery"]
	path = vendor/jquery
	url = https://github.com/jquery/jquery
[submodule "vendor/transition"]
	path = vendor/transition
	url = https://github.com/bjester/transition
