body {
  background: url('/images/tweed.png') repeat;
  background-size: 200px 200px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body > header {
  background-color: #e67e22;
  border-bottom:1px solid #e74c3c;
  box-shadow: 0 -2px 12px #000;
  -webkit-box-shadow: 0 -2px 12px #000;
  -moz-box-shadow: 0 -2px 12px #000;
  -o-box-shadow: 0 -2px 12px #000;
  -ms-box-shadow: 0 -2px 12px #000;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 40px;
  left: 0;
  line-height: 38px;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration:none;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  top: 0;
  z-index: 3;
}

body > section {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 40px;
  transition: .35s all ease;
  -webkit-transition: .35s all ease;
  -moz-transition: .35s all ease;
  -ms-transition: .35s all ease;
  -o-transition: .35s all ease;
  z-index: 2;
}

body > aside {
  background: rgba(0,0,0,0.2);
  bottom: 0;
  box-shadow: inset -2px 0 12px #000;
  -webkit-box-shadow: inset -2px 0 12px #000;
  -moz-box-shadow: inset -2px 0 12px #000;
  -o-box-shadow: inset -2px 0 12px #000;
  -ms-box-shadow: inset -2px 0 12px #000;
  left: -280px;
  min-width: 280px;
  position: fixed;
  top: 0;
  z-index: 1;
}

body footer {
  background: rgba(0,0,0,0.3);
  bottom: 0;
  height: 35px;
  left: 0;
  position: absolute;
  right: 0;
}

#MenuButton {
  cursor: pointer;
  display: block;
  font-size: 25px;
  padding: 1px 0 0 5px;
  position: absolute;
}

body > section > canvas {
  height: 100%;
  width: 100%;
}

#Controls {
  color: #fff;
  float: right;
  font-size: 20px;
}

#Controls > span {
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  float:right;
  padding: 6px 5px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}

#Controls > span:hover {
  color: #fff;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.35);
}

body > aside > nav {
  margin-bottom: 25px;
}

body > aside > nav ul {
  border-top: 1px solid #777;
  list-style: none;
  margin: 0;
  padding: 0;
}

body > aside > nav li {
  border-bottom: 1px solid #777;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  list-style: none;
  margin: 0;
}

body > aside > nav li:hover {
  background: rgba(0,0,0,0.3);
  box-shadow: inset 0 -2px 5px #000;
  -webkit-box-shadow: inset 0 -2px 5px #000;
  -moz-box-shadow: inset 0 -2px 5px #000;
  -o-box-shadow: inset 0 -2px 5px #000;
  -ms-box-shadow: inset 0 -2px 5px #000;
}

body > aside > nav li > a {
  box-sizing: border-box;
  color: #fff;
  display: block;
  padding: 11px 5%;
  text-decoration: none;
}

body > aside > nav li > a > span.Icon {
  margin-right: 8px;
}

body > aside > nav li img {
  box-sizing: border-box;
  height: 28px;
  float: left;
  margin-top: -5px;
}

body > aside > nav#Add li > a > span {
  margin-left: 55px;
  display: block;
}

body > aside > nav#Add li > a > span.Icon {
  margin-left: 0;
  display: inline-block;
  float: left;
}

body > aside h3 {
  color: #fff;
  margin: 10px 0 5px 5%;
}

@media (min-width: 1400px) {
  body > aside {
    left: 0;
    top: 42px;
    width: 20%;
  }
  
  body > section {
    left: 20%;
    width: 80%;
  }
  
  #MenuButton {
    display: none;
  }
}
