<script id="TemplateControls" type="text/html">
  <% var cls = (inProgress ? 'pause' : 'play'); %>
  <div id="Controls">
    <span class="icon-fast-fw"></span>
    <span class="icon-<%=cls%>"></span>
  </div>
</script>

<script id="TemplateNav" type="text/html">
  <h3><%=name%></h3>
  <nav id="<%=id%>">
    <ul>
      <% for (var i = 0; i < items.length; i++) { %>
        <li>
          <a href="#<%=items[i].action%>">
              <% if (items[i].type === 'standard') { %>
                <span class="Icon icon-<%=items[i].icon%>"></span>
              <% } else { %>
                <img src="<%=items[i].src%>" alt="<%=items[i].title%>" title="<%=items[i].title%>" />
              <% } %>
              <span><%=items[i].title%></span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
</script>

